@{
    ViewData["Title"] = "Home Page";
}


<a class="nav-link text-dark" asp-area="" asp-controller="Classes" asp-action="Index">Классы</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">Сотрудники</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Subjects" asp-action="Index">Предметы</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Disciplines" asp-action="Index">Дисциплины</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Timetable" asp-action="ByDayId">Расписание</a>


@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
