@model EJournal.Models.ViewModels.LoginViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Смена пароля";
}

<h1>@ViewData["Title"]</h1>


@if (ViewData["Error"] != null)
{
    <p class="text-danger">
        @ViewData["Error"]

    </p>
}
@if (ViewData["Good"] != null)
{
    <p class="text-success">
        @ViewData["Good"]
    </p>
}
<hr />


<div class="col-4 align-content-center">
    <form method="post" asp-action="ChangePassword">
        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label"></label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger field-validation-valid"></span>
        </div>
            
            <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger field-validation-valid"></span>
            </div>

                <div class="form-group">
            <label asp-for="PasswordConfirm" class="control-label"></label>
            <input asp-for="PasswordConfirm" class="form-control" />
          
            <span asp-validation-for="PasswordConfirm" class="text-danger field-validation-valid"></span>
            </div>
            <p></p>
        <input type="submit" value="Сменить пароль" class="btn btn-primary our-link" />
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
