@model EJournal.Models.ViewModels.EmployeeViewModels.UpSertEmployeeViewModel

@{
    ViewData["Title"] = "Обновить данные сотрудника";
    @if (Model.Id == 0)
    {
        ViewData["Title"] = "Добавление сотрудника";
    }
}

<h1>@ViewData["Title"]</h1>
<div>
    <a asp-action="Index" class="btn btn-primary our-link">Вернуться к списку</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Upsert">
            <input asp-for="Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateBirth" class="control-label"></label>
                <input asp-for="DateBirth" type="date" class="form-control" />
                <span asp-validation-for="DateBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if(Model.gender == PersonalData.Gender.Women)
                {
                    <label asp-for="gender" class="control-label">
                        <input asp-for="gender" id="0" name="gender" type="radio" value="0" />
                        <span> Мужской </span>
                        <input asp-for="gender" id="1" name="gender" type="radio" value="1" checked />
                        <span> Женский </span>
                        <span asp-validation-for="gender" class="text-danger"></span>
                    </label>
                }
                else
                {
                    <label asp-for="gender" class="control-label">
                        <input asp-for="gender" id="0" name="gender" type="radio" value="0" checked />
                        <span> Мужской </span>
                        <input asp-for="gender" id="1" name="gender" type="radio" value="1"  />
                        <span> Женский </span>
                        <span asp-validation-for="gender" class="text-danger"></span>
                    </label>
                }
            </div>
            <div class="form-group">
                <label asp-for="PassId" class="control-label"></label>
                <input asp-for="PassId" class="form-control" />
                <span asp-validation-for="PassId" class="text-danger"></span>
                @if (ViewData["PassDuplicate"] != null)
                {
                    <span class="text-danger">Данные серия и номер паспорта уже использутся</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="SNILS" class="control-label"></label>
                <input asp-for="SNILS" class="form-control" />
                <span asp-validation-for="SNILS" class="text-danger"></span>
                @if (ViewData["SNILSDuplicate"] != null)
                {
                    <span class ="text-danger">Данный снилс уже использутся</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" class="form-control" />
                <span asp-validation-for="EMail" class="text-danger"></span>
                @if (ViewData["EmailDuplicate"] != null)
                {
                    <span class="text-danger">Данный почтовый адресс уже использутся</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                @if (ViewData["PhoneDuplicate"] != null)
                {
                    <span class="text-danger">Данный номер телефона уже использутся</span>
                }
            </div>
            
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleIds" class="control-label">Полномочия</label>
                <select asp-for="RoleIds" class="form-control" asp-items="Model.RoleMultpleSelectList" multiple>
                    @if (Model.Id == 0)
                    {
                        <option disabled selected>--Выберите полномочия--</option>
                    }
                </select>
                <span asp-validation-for="RoleIds" class="text-danger"></span>
            </div>
            <p></p>

            <div class="form-group">

                @if (Model.Id == 0)
                {
                    <input type="submit" value="Создать" class="btn btn-primary our-link" />
                }
                else
                {

                    <input type="submit" value="Обновить" class="btn btn-primary our-link" />
                }

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
